html,
body {
  background-color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  background-color: #39b385;
}

.title img {
  width: 107px;
}

.title span {
  width: 200px;
}

.vector {
  background-size: cover;
}

.vector svg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
}

.container1 {
  /*background-color: #006d35;*/
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  height: 86vh;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.nav .btn {
  margin-left: 35px;
}

.card {
  width: 40%;
  max-width: 40%;
  height: auto;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-image img {
  width: auto;
  max-height: 70px;
  padding: 10%;
}

.card .card-crop {
  font-size: x-large;
  font-weight: bold;
}

.card .card-time {
  padding-bottom: 5px;
}

.card .card-select {
  color: white;
  background-color: rgb(71, 107, 0);
  min-width: 100%;
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  border-radius: 0 0 20px 20px;
}

.card-row {
  display: flex;
  justify-content: space-evenly;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

/* NEW ONES */

.container1-control {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.card-control {
  width: 40%;

  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

.card-image-control img {
  width: auto;
  max-height: 50px;
  padding: 25%;
}

.card-time-control {
  color: rgb(18, 18, 243);
  font-weight: bold;
  font-size: x-large;
}

.card-row-display {
  display: flex;
  justify-content: center;
}

.card-display {
  width: 40%;
  max-width: 40%;
  height: 60px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.card-crop-display {
  font-size: x-large;
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  right: 12%;
  margin-top: -25px;
  width: 60px;
  height: 44px;
}

.fan {
}

.light {
}

.water {
}

.uv {
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 7.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 26px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
